body{
    background: #d2d6de;
    background-image: url('/images/home-background.jpg');
    background-size: cover;
    background-blend-mode: multiply;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}
